<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Blog.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Blog.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editinfo</servlet-name>
        <servlet-class>Blog.Editinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>Blog.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>Blog.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Blog.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>Blog.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myImages</servlet-name>
        <servlet-class>Blog.myImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>Blog.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateImage</servlet-name>
        <servlet-class>Blog.updateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userimage</servlet-name>
        <servlet-class>Blog.userimage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editinfo</servlet-name>
        <url-pattern>/Editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/FeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myImages</servlet-name>
        <url-pattern>/myImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateImage</servlet-name>
        <url-pattern>/updateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userimage</servlet-name>
        <url-pattern>/userimage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
